<header id="header">
    <div id="banner"></div>
    <div id="header-outer" class="outer">
        <div id="header-title" class="inner">
            <h1 id="logo-wrap">
                <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
            </h1>
            <% if (theme.subtitle){ %>
            <h2 id="subtitle-wrap">
                <span id="subtitle"><%= theme.subtitle %></span>
            </h2>
            <% } %>
        </div>

        <div id="header-inner" class="inner">

            <nav id="main-nav">
                <a id="main-nav-toggle" class="fab fa-bars nav-icon"></a>
                <% for (var i in theme.menu){ %>
                <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
                <% } %>
            </nav>

            <nav id="sub-nav">
                <% if (config.github_link){ %>
                <a class="fab fa-github nav-icon" href="<%- url_for(config.github_link) %>"
                   title="<%= __('GitHub') %>"></a>
                <% } %>
                <!-- search -->
                <a id="nav-search-btn" class="far fa-search nav-icon" title="<%= __('search') %>"></a>
            </nav>

            <div id="search-form-wrap">
                <%- search_form({button: '&#xF002;'}) %>
            </div>

        </div>

    </div>
</header>